body {
    font-family: "Karla", sans-serif;
    width: 100%;
}

#editModeView {
    display: flex;
    width: 100%;
}

#editorSide {
    width: 35%;
}

textarea {
    width: 100%;
}

#readingSide {
    font-size: 32pt;
    margin-left: 1%;
    margin-right: 1%;
    width: 73%;
}

#linkBlock {
    display: flex;
    width: 100%;
    min-height: 64pt;
    align-items: center;
}

#linkBlock button {
    border-radius: 50%;
    height: 48pt;
    width: 48pt;
    color: white;
    font-size: 12pt;
    font-weight: 600;
    background-color: blue;
    border-width: 0;
    margin-right: 12pt;
}

#linkBlock button:hover {
    cursor: pointer;
    background-color: blueviolet;
}




/*Please remember to think about the phone version for the future.*/
@media only screen and (max-width: 767px) {
    #editModeView {
        flex-direction: column;
    }
}