body {
    font-family: "Karla", sans-serif;
    width: 100%;
}

#editModeView {
    display: flex;
    width: 100%;
}

#editorSide {
    width: 35%;
}

textarea {
    width: 100%;
}

#readingSide {
    font-size: 32pt;
    margin-left: 1%;
    margin-right: 1%;
    width: 73%;
}

#readableText {
    white-space: pre-wrap;
}

.ref {
    font-style: italic;
    color: darkslategray;
}




/*Please remember to think about the phone version for the future.*/
@media only screen and (max-width: 767px) {
    #editModeView {
        flex-direction: column;
    }
}